*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;;
  font-family: arial;
  animation-iteration-count: infinite;

}
h2
{
 position: relative;
 margin: 0 auto 0 auto;
 padding-left: 300px;
 font-size: 2em;
 letter-spacing: 15px;
 color: #aed3ae;
 text-transform: uppercase;
 width: 100%;
 text-align: center;
 -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
 line-height: 0.7em;
 outline: none;
 animation: animatetext 5s linear infinite;
}
h3
{
  position: relative;
  margin: 0 auto 0 auto;
  padding-top: 50px;
  padding-left: 300px;
  color: #aed3ae;
  /*text-transform: uppercase;*/
  width: 100%;
  text-align: center;

}
/*@keyframes animatetext
{
0%
{
  color: #aed3ae;
  text-shadow: none;
}
100%
{
color: #fff;
text-shadow: 0 0 10px #9ee09e,
0 0 20px #9ee09e,
0 0 40px #9ee09e,
0 0 80px #9ee09e,
0 0 1600px #9ee09e;
}
} */
body{
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #e8ffe8;
}
.tree{
  position: relative;
  top: -150px;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  transform: rotateX(-20deg) rotateY(30deg);
  animation: animate 6s linear infinite;
}
.tree::before
{
content:"⭐️";
position: absolute;
top: -120px;
left: calc(50% - 45px);
font-size: 4em;
}
@keyframes animate{
  0%
  {
    transform: rotateX(-20deg) rotateY(360deg);

  }
  90%
  {
    transform: rotateX(-20deg) rotateY(0deg);

  }
}
.tree div{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: translateY(calc(100px * var(--j)));
}
.tree div.top span{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #69c069, #77dd77);
  clip-path: polygon(50% 0%,0% 100%, 100% 100%);
  transform-origin: bottom;
  border-bottom: 10px solid #00000019;
  transform: rotateY(calc(90deg * var(--i))) rotateX(30deg) translateZ(173px) ; 
}
.tree div.bottom span{
  position: absolute;
  top: 350px;
  left: calc(50% - 30px);
  width: 60px;
  height: 100%;
  background: linear-gradient(90deg, #bb4622, #df7214);
  /*clip-path: polygon(50% 0%,0% 100%, 100% 100%); */
  transform-origin: bottom;
  border-bottom: 10px solid #00000055;
  transform: rotateY(calc(90deg * var(--i))) translateZ(30px) ;
}
.shadow
{
  position: absolute;
  top: 0;
  left:0;
  width: 300px;
  height: 300px;
  background: #0002;
  transform-style: preserve-3d;
  transform: rotateX(90deg) translateZ(-500px);
  filter: blur(20px);
}